.vf-wrapper{
    max-width: var(--vf-main-wrapper);
    margin: 0 auto;
}

.vf-wrapper >.main-content{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: var(--vf-header-size);
}
.vf-wrapper >.main-content >.back-btn{
    position: fixed;
    top: calc(var(--vf-header-size) + 38);
    font-size: calc(var(--vf-font-size-base) + 60px);
    cursor: pointer;
    color: var(--vf-color-gray-dark);
    text-decoration: none;
}
.vf-wrapper >.main-content.-one-col{
    grid-template-columns: 1fr;
}


.vf-wrapper >.main-content >.right{
    overflow: hidden;
    position: relative;
    height: calc(100vh - var(--vf-header-size));
}

.vf-wrapper >.main-content >.right >.image{
    position: absolute;
    height: 100%;
    top: 0;
    min-width: 100%;
    left: 50%;
    transform: translateX(-50%);
    
}