.vf-button{
    font-family: var(--vf-font-family-base);
    background-color: var(--vf-color-primary);
    color: white;
    font-size: calc( var(--vf-font-size-base) + 8px );
    font-weight: 800;
    padding: 20px;
    border-radius: 50px;
    border: none;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.5s;
    text-decoration:none;
}
.vf-button.-small{
    font-size: calc( var(--vf-font-size-base) + 4px );
    font-weight: 600;
    padding: 12px 27px;
}

.vf-button:hover{
    background-color: var(--vf-color-primary-light);
}