.vf-header{
    height: var(--vf-header-size);
    width: 100%;
    background: white;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.15);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
}

.vf-header >.wrapper{
    max-width: var(--vf-main-wrapper);
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.vf-header >.wrapper.-has-user{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}



/* Logo */
.vf-header >.wrapper >.logo-wrapper{
    height: var(--vf-header-size);
    padding: 16px 0;
}

.vf-header >.wrapper >.logo-wrapper >.image{
    height: 100%;
}

/* Usuario */
.vf-header >.wrapper >.user {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.vf-header >.wrapper >.user >.info {
    text-align: right;
}

.vf-header >.wrapper >.user >.info >.name {
    display: block;
    font-weight: 800;
    font-size: calc(var(--vf-fonte-size-base) + 4px);
    margin-bottom: 3px;
}

.vf-header >.wrapper >.user >.info >.role {
    display: block;
    font-weight: 400;
    font-size: calc(var(--vf-fonte-size-base) + 2px);
}

.vf-header >.wrapper >.user >.photo-wrapper {
    margin-left: 12px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: 1px solid var(--vf-color-primary);
    overflow: hidden;
}

.vf-header >.wrapper >.user >.photo-wrapper >img {
    height: 100%;
    width: 100%;
}